/*
  ========================================
  Typography
  ========================================
*/

body {
  background: #FFFFFF;
  color: #292929;
  font: 400 16px/1.5em "Lato", "Opens Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

#title {
	text-align: center;
	color: #C8C8C8;
  margin-bottom: 0.1rem;


}

h1, h2, h3, h4, p {
  margin-bottom: 1.3rem;

}

h1 {
  margin-bottom: 0.3rem;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1rem;
}

h2 {
  margin-bottom: 0.5rem;
  font-weight: 900;
  line-height: 1.3rem;
  font-size: 100%;

}

h3 {
  margin-bottom: 0.3rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1rem;
}

p {
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.5em;
}

.wildcard{
  color: #C8C8C8;
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 1.6rem;
}



/*
  ========================================
  Lightbox
  ========================================
*/

img.project_thumbs {
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.thumb-container {

  text-align: center;
}

#Portfolio > div > ul > li> div > a> p{
  margin: 0.5rem 0 0.1rem 0;
  color: #292929;
  font-family: inherit;
  font-size: 0.8rem !important;
  font-weight: 900 !important;  
}

#Portfolio > div > ul > li > div > div > p {
  margin: 0;
  color: #c8c8c8;
  font-family: inherit;
  letter-spacing: 0.025rem;
  font-size: 0.7rem !important;
  font-weight: 400 !important;

}

/*
  ========================================
  nav-bar
  ========================================
*/

#menu > div,
footer > div {
  text-align: center;
}

#menu > div > div > ul,
footer > div > div > ul {
  display: inline-block;
}

#menu > div > div > ul > li> a, 
footer > div > div > ul.button-group > li > a{
  font-family: inherit;
  font-size: 0.85rem;
  font-weight: 300;
  color: #292929;
  margin: 0 0 2rem;
  padding: 0.05rem 0.75rem 0.75rem 0.75rem;
  background-color: #fff;
  border-color: #fff;
}

footer > div > div > ul.button-group > li > a{
  margin: 0 0 1rem;
}

#menu > div > div > ul > li> a:hover, 
footer > div > div > ul.button-group > li > a:hover,
#menu > div > div > ul > li> a:focus, 
footer > div > div > ul.button-group > li > a:focus{
  font-weight: 400;
  color: #c8c8c8;
  background-color: #fff;
  border-color: #fff;
}